@import "../../assets/common-ui/util.scss";
.score-help{
    .help-item{
        position: relative;
        @include m-1px-sd(bottom, #e0e0ea);
        padding-bottom: 15px;
        &_lable{
            height: 48px;
            line-height: 48px;
            font-size: 16px;
            color: #555566;
            font-size: 600;
            position: relative;
            text-indent: 15px;

            &:after{
                content: '';
                height: 16px;
                width: 5px;
                background: #d32;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
            }
        }
        &_info{
            padding: 0 15px;
            font-size: 14px;
            line-height: 21px;
            color: #555566;
        }
    }
}
