@import "../../assets/common-ui/util.scss";

.my-score{
    background: #f8f8f8;
    .score-balance{
        height: 107px;
        padding: 0 15px;
        background: #f3f3f8;
        @include m-1px-sd(bottom, #eee);
        &_tip{
            padding-top: 17px;
            margin-bottom: 12px;
            font-size: 12px;
            color: #888899;
            height: 18px;
            line-height: 18px;

        }
        &-detail{
            height: 40px;
            position: relative;

            &_num{
                height: 40px;
                font-size: 40px;
                line-height: 40px;
                color: #555566;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
            }
            &_record{
                position: absolute;
                top: 0;
                right: 0;
                height: 40px;
                width: 100px;
                text-align: center;
                font-size: 18px;
                line-height: 40px;
                color: #555566;
                border-radius: 50px;
                background: #e0e0ea;
            }
        }
    }
    .score-info{
        &-wrap{
            position: relative;
            background: #fff;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            &_lable{
                height: 50px;
                line-height: 50px;
                font-size: 16px;
                color: #555566;
                text-indent: 15px;
                font-weight: 600;
                position: relative;
                @include m-1px-sd(bottom, #eee);
                &::after{
                    content: '';
                    height: 16px;
                    width: 3px;
                    background: #d32;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                }
            }
            .info-list{

                &_item{
                    height: 40px;
                    padding: 20px 15px;
                    @include m-1px-sd(bottom, #eee);
                    .info-item_img{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                        &.img-jingzhunqianke{
                            @include bg('jingzhunqianke.png');
                        }
                        &.img-fabuzhibo{
                            @include bg('fabuzhibo.png');
                        }
                        &.img-fabudongtai{
                            @include bg('fabudongtai.png');
                        }
                        &.img-fabuzixun{
                            @include bg('fabuzixun.png');
                        }
                    }
                    .info-item-desc{
                        &_top{
                            font-size: 16px;
                            color: #555566;
                        }
                        &_bottom{
                            font-size: 12px;
                            color: #aaaabb;
                        }
                    }
                    .info-item-next{
                        display: inline-block;
                    }
                    .icon-right{
                        display: inline-block;
                        height: 11px;
                        width: 6px;
                        width: 0.06rem;
                        position: relative;
                        top: 50%;
                        transform: translate(0,-50%);
                        @include bg('icon-right.png');
                    }
                }
            }
        }
        &_tip{
            padding: 7px 15px 10px;
            font-size: 11px;
            color: #bbbbcc;
            line-height: 16px;
        }
    }
}
