@import "../../assets/common-ui/util.scss";

.loading{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    // background: rgba(0,0,0,.3);
    background-color: rgba(85, 85, 102, 0.5);
    z-index: $zindexLoading;
    &-wrap{
        height: 100px;
        line-height: 100px;
        text-align: center;
        vertical-align: middle;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        &_icon{
            display: inline-block;
            width: 16px;
            height: 16px;
            @include bg('icon-loading.png');
            animation: ani-loading 0.9s linear infinite;
            vertical-align: middle;
        }
        &_tip{
            font-size: 14px;
            margin-left: 4px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
